* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #313338;
  color: #dbdee1;
  overflow: hidden;
  height: 100vh;
}

#root {
  height: 100vh;
  display: flex;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #2b2d31;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: #1a1b1e;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #141517;
}
